## Programação Orientada a Objetos

### Objetos

Em Python, tudo é um objeto.

In [1]:
# Criando uma lista 
lista = ['Data', 'Science', 'Academy', 'Nota', 10, 10]

In [2]:
type(lista)

list

In [3]:
print(type([]))

<class 'list'>

In [4]:
lista.count(10)

2

In [5]:
# Usando a função type, para verificar o tipo de um objeto
print(type(10))
print(type([]))
print(type(()))
print(type({}))
print(type('a'))

<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'str'>

In [6]:
# Criando um novo tipo de objeto chamado carro
class Carro():
    pass

In [7]:
ferrari = Carro()

In [9]:
print(type(ferrari))

<class '__main__.Carro'>

In [10]:
# Criando uma classe
class Estudantes():
    def __init__(self, nome, idade, nota):
        self.nome = nome
        self.idade = idade
        self.nota = nota

In [13]:
estudante1 = Estudantes('Matheus', 23, 10)

In [17]:
# Atributo da classe estudante, utilizado por cada objeto criado a a partir dessa classe
print(estudante1.nome)
print(estudante1.idade)
print(estudante1.nota)

Matheus
23
10

In [25]:
# Criando outra classe
class Funcionarios():
    def __init__(self, nome, salario, cargo):
        self.nome = nome
        self.salario = salario
        self.cargo = cargo
    
    def lista_func(self):
        print(f'Funcionário(a) {self.nome} tem o salário de R$ {self.salario} e o cargo de {self.cargo}.')

In [26]:
# Criando um objeto chamado func a partir da classe funcionarios
func1 = Funcionarios("Mary", 20000, "Cientista de Dados")

In [27]:
func1.lista_func()

Funcionário(a) Mary tem o salário de R$ 20000 e o cargo de Cientista de Dados.

In [28]:
print("*** Usando Atributos ***")

*** Usando Atributos ***

In [29]:
hasattr(func1, "nome")

True

In [30]:
hasattr(func1, "salario")

True

In [32]:
setattr(func1, "salario", 4500)

In [33]:
hasattr(func1, "salario")

True

In [34]:
getattr(func1, "salario")

4500

In [35]:
delattr(func1, "salario")

In [36]:
hasattr(func1, "salario")

False